@model CustomerManagement.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Order</h1>

<form asp-controller="Order" asp-action="SaveNew">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="NumberOfOrder"></label>
        <input asp-for="NumberOfOrder" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="PurchaseDate"></label>
        <input asp-for="PurchaseDate" class="form-control">
    </div>
    <div class="form-group">
        <label>Products :</label>
        <select class="form-control" id="ProductIds" multiple="multiple"
                asp-items="Model.ProductSelection" asp-for="ProductIds" name="ProductIds">
            <option>Please select products</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>